.App {
  font-family: 'Montserrat', sans-serif;
}

.App-image {
  float: left;
  padding: 15px 15px 15px 15px;
}

.App-title-text {
  margin: 0 0 0 120px;
  min-height: 100vh;
  text-align: center;
  font-size: calc(25px + 1vmin);
  color: white;
}

.App-header {
  padding: 15px 0 15px 0;
  min-height: 100vh;
  text-align: center;
  font-size: calc(25px + 1vmin);
  color: white;
}

.App-input {
  background: #0f1011;
  border: none;
  outline: none;
  text-align: left;
  margin: 0 5px 0 0;
  font-size: calc(6px + 2vmin);
  width: 45vw;
  height: 80vh;
  color: white !important;
}

.App-highlight {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 45vw;
  height: 80vh;
  border: 1pt solid dimgrey;
  background: black;
  overflow: scroll;
}

.App-output {
  background: #0f1011;
  border: none;
  outline: none;
  text-align: left;
  margin: 0 0 0 5px;
  width: 45vw;
  height: 80vh;
  font-size: calc(6px + 2vmin);
  color: white;
}

.App-counter {
  text-align: left;
  float: right;
  margin: 20px 4vw 0 0;
  width: 45vw;
  height: 80vh;
  font-size: calc(6px + 2vmin);
  color: black;
}

.App-file-selector{
  margin: 10px 0 0 50px;
}

.App-button-stack{
  float: right;
}

.App-pie{
  float: left;
  margin: 70px 0 0 8vw;
  height: 35vh;
  width: 35vw;
}

h1, h2{
  text-align: center;
  font-size: calc(12px + 1vmin);
}

#space {
  padding: 0 20% 0 22%;
}

textarea, HighlightWithinTextarea {
  resize: none;
}

/* makes GitHub logo work */
.Filter {
  fill: white;
}